<h1>New Dose for <%= @cocktail.name %></h1>
<%= simple_form_for [ @cocktail, @dose ] do |form| %>
  <%= form.input :description %>
  <%= form.association :ingredient %>
  <%= form.submit "Add Dose", class: "btn btn-primary" %>
  <%= link_to "Back to #{@cocktail.name}", cocktail_path(@cocktail), class: "btn btn-primary"%>
<% end %>